.wrapper {
    width: var(--default-layout-width-content);
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    padding: 32px 20px;
}

.heading {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    h4 {
        font-size: 2rem;
    }
}

.row {
    display: flex;
    margin-top: 32px;
    margin-left: -12px;
    margin-right: -12px;
}

.column {
    padding-left: 12px;
    padding-right: 12px;
}

.column:first-child {
    width: 420px;
}

.column:nth-child(2),
.column:nth-child(3) {
    flex: 1;
}

.sample {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.sample-image {
    width: 250px;
    height: auto;
}

.policies {
    display: flex;
    flex-wrap: wrap;
}

.policy {
    display: flex;
    width: 50%;
    align-items: center;
    padding-right: 10px;
}

.policy-icon {
    font-size: 2rem;
    padding-right: 8px;
    color: rgb(0, 235, 235);
}

.policy-content {
    font-weight: 500;
    text-transform: uppercase;
}

.underline {
    border-bottom: 1px solid rgb(143, 143, 143);
    width: 100%;
    margin: 16px 0;
}

.price {
    display: flex;
    margin-bottom: 10px;
}

.price-old {
    font-size: 2.6rem;
    color: var(--text-color);
    text-decoration: line-through;
    display: block;
}

.price-current {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-left: 12px;
    display: block;
}

.color-btns {
    margin: 8px 0;
    display: flex;
}

.color-btn {
    flex: 1;
}

.buy-btn {
    margin-top: 12px;
    flex: 1;
    width: 100%;
    &:hover {
        color: var(--white-color);
    }
}

.gift {
    border-radius: 12px;
    border: 1px solid rgba(251, 87, 49, 0.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.gift-heading {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--primary-color);
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-heading-icon {
    color: var(--white-color);
    font-size: 2.2rem;
    margin-right: 12px;
}

.gift-heading-name {
    color: var(--white-color);
    font-size: 2rem;
}

.gift-list {
    list-style: none;
    padding: 10px;
}

.gift-item {
    margin-bottom: 6px;
}

.hotline {
    margin-top: 20px;
}
