@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --width-column-2: 16.67%;
    --width-column-10: 83.33%;
    --default-layout-header-height: 70px;
    --default-layout-width-content: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: rgb(230, 230, 230);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    // color: var(--text-color);
    text-decoration: none;
}
