.wrapper {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
    user-select: none;
}

.title {
    color: var(--black-color);
    font-size: 1.5rem;
    margin-right: 16px;
}

.btn {
    margin-right: 12px;
    min-width: 90px;
}

.select-input {
    display: flex;
    width: 150px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    justify-content: space-between;
    padding: 2px 8px;
    font-size: 1.6rem;
    span {
        font-weight: 500;
    }
}

.select-result {
    width: 150px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.select-title {
    font-size: 1.6rem;
    padding: 4px 8px;
    &:hover {
        color: var(--primary-color);
    }
}

.page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.page-current,
.page-num {
    font-size: 1.6rem;
    color: var(--black-color);
}

.page-current {
    color: var(--primary-color);
}

.page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 5px #d3d3d3;
    margin-left: 20px;
}

.page-control__icon:first-child {
    border-right: 1px solid #e7e7e7;
}

.page-control__icon {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: rgb(238, 77, 45);
        color: #ffffff;
    }
}

.page-control__icon--disabled {
    background-color: #f5f5f5;
    cursor: default;
    pointer-events: none;
}

.icon {
    display: block;
    margin: auto;
}
