.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 229, 229);
}

.container {
    width: var(--default-layout-width-content);
    display: flex;

    min-height: 100vh;
}

.content {
    width: var(--width-column-10);
}

.btn-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;

    &:hover {
        background-color: rgb(255, 103, 69);
    }
}
